[submodule "include/vendor/edlib"]
	path = include/vendor/edlib
	url = https://github.com/martinsos/edlib
[submodule "include/edlib"]
	path = include/edlib
	url = https://github.com/martinsos/edlib
[submodule "external/edlib"]
	path = external/edlib
	url = https://github.com/martinsos/edlib
